
li {
  list-style: none;
}

#leaderboard {
  display: flex;
  gap: 5rem;
}

.board {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.score-list {
  border: 1px solid black;
}

.score-list li:nth-child(2n) {
  background-color: rgb(137, 137, 136);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
